# IDE files
.vscode/
.idea/
*.iml

# OS files
Thumbs.db
.DS_Store

# Build artifacts
target/
build/
out/

# Local Configuration & Secrets
fasttts.properties
*.local

# Temporary/Test Audio and Logs
*.wav
*.log

# Models and large binary vectors
*.onnx
*.bin
*.gguf
models/
